/* h1 is selector, color is property, red is the value. There are ~350 properties, 150 different colors. Various CSS tricks for colors, styles, and size. One master doc for all CSS selectors.
*/
/* Parents and children - parents will affect children, it cascades. */

h1 {
    font-family: Helvetica;
    color: red;
    font-size: 50px;
    text-align: right;
  }
  
  h2 {
    font-family: Monaco;
    color: seagreen;
    font-size: 40px;
    border: 9px dotted gray;
    text-align: center;
  }
  
  p {
    font-family: Comic Sans MS;
    font-size: 30px;
    background-color: black;
    color: white;
  }
  
  div {
    color: blue;
  }
  
  span {
    color: yellow;
    text-decoration: underline;
    font-style: italic;
  }
  
  ol {
    list-style: upper-roman;
  }
  
  ul {
    list-style: square;
  }
  
  li {
    color: brown;
  }

  /*
  CSS Selectors and Cascading

  Always style on classes (.blog-post), don't style on tags (h1). Err on the side of using classes too much. When two things are same in CSS, the last one wins. The one that comes further down in CSS file wins. Results based on property by property basis.

  Classes that are more specific or having more classes wins.

  Classes are more specific than tags. Style with most classes wins even over tags. Don't mix tags and classes - h1.blog-post.special. Just make it .blog-post.special.

  */