/* h1 is selector, color is property, red is the value. There are ~350 properties, 150 different colors. Various CSS tricks for colors, styles, and size. One master doc for all CSS selectors.
*/
/* Parents and children - parents will affect children, it cascades. */

h1 {
    font-family: Helvetica;
    color: red;
    font-size: 50px;
    text-align: right;
  }
  
  h2 {
    font-family: Monaco;
    color: seagreen;
    font-size: 40px;
    border: 9px dotted gray;
    text-align: center;
  }
  
  p {
    font-family: Comic Sans MS;
    font-size: 30px;
    background-color: black;
    color: white;
  }
  
  div {
    color: blue;
  }
  
  span {
    color: yellow;
    text-decoration: underline;
    font-style: italic;
  }
  
  ol {
    list-style: upper-roman;
  }
  
  ul {
    list-style: square;
  }
  
  li {
    color: brown;
  }

  /*
  CSS Selectors and Cascading

  Always style on classes (.blog-post), don't style on tags (h1). Err on the side of using classes too much. When two things are same in CSS, the last one wins. The one that comes further down in CSS file wins. Results based on property by property basis.

  Classes that are more specific or having more classes wins.

  Classes are more specific than tags. Style with most classes wins even over tags. Don't mix tags and classes - h1.blog-post.special. Just make it .blog-post.special.

  Don't use ID's and !important. ID's overpower classes. 

  Pseudoclasses - Using CSS to affect state. Hover is most common. .hover-example:hover{} Means both the class and the thing it's hovering over. Focus, active, checked are all common other ones. Only need to call the original class .hover-example the :hover will work when action is take in the browser.

  Structural pseudclass - first-child, last-child, :nth-child(2).

  Wildcard selector (*) - selects every element and styles it. Probably never use this. One use case * { box-sizing: border-box; }. Only need this once, Brian uses on every website.

  Layout - using CSS for layout.

  Float - don't need this anymore, may see it in older code. Better way to do it is with flex.

  The Box Model
  - Display mode - a div by default is display block, will take 100% of width and respects padding and margins. Spans by default display in line.
    - Inline - whatever the tag is will behave like text.
    - Block - will respect height, width, margins.
    - Inline-block - hybrid between the two.
    - Flex - Similar to block, super powers on how interior tags are layed out. Allows for fancy layout techniques.
    - Grid - Similar to flex, another approach.
    - Tables - should use for data.
    - Display: none; - to display no style.

  */